.section {
  position: relative;
  height: 100%;

  &--hero{
    background-color: salmon;
    min-height: 60vh;

    .container{
      @include vertical-align();
      position: absolute;

      h1 {
        color: #fff;
      }

    }

  }

  &--cards {
    padding:  30px 0;
  }

}

.card {

  &__inner {
    cursor: pointer;
    position: relative;
    height: 100%;
    border: 1px solid salmon;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    h2 {
      color: #fff;
      @include vertical-align();
      position: absolute;
      display: none;
    }
    canvas {
      position: relative;
      width: 100%;
    }
  }
  &--1 {
    .card__inner {
      background-image: url(assets/7.jpg);
    }
  }
  &--2 {
    .card__inner {
      background-image: url(assets/8.jpg);
    }
  }
  &--3 {
    .card__inner {
      background-image: url(assets/9.jpg);
    }
  }
}
